@model RestoranOtomasyonu.Models.Category
@{
    ViewBag.Title = "Kategori Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Güncelle</h2>
<br />

@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.CategoryId)

        <label>Kategori Adı</label>
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <button class="btn btn-success">Değişiklikleri Kaydet</button>

        <a href="/Category/Index" class="btn btn-danger" style="margin-left: 10px;">
            İptal
        </a>
    </div>
}