@model List<RestoranOtomasyonu.Models.Table>
@{
    ViewBag.Title = "Masa Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Home/Index" class="btn btn-default btn-lg" style="margin-bottom: 20px;">
    🔙 Ana Menü
</a>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">

    <h2 style="margin: 0;">Masa Listesi</h2>

    <a href="/Table/Create" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Yeni Masa Tanımla
    </a>

</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Masa Numarası</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TableId</td>
                <td>@item.TableNumber</td>
                <td>
                    @if (item.IsOccupied == true)
                    {
                        //Masa Dolu: Kırmızı
                        <b class="text-danger">DOLU</b>
                    }
                    else
                    {
                        //Masa Boş: YEŞİL
                        <b class="text-bg-success">BOŞ</b>
                    }
                </td>
                <td>
                    <a href="/Table/Delete/@item.TableId" class="btn btn-danger btn-sm">Sil</a>
                    <a href="/Table/Update/@item.TableId" class="btn btn-warning btn-sm">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>


