@model RestoranOtomasyonu.Models.Table
@{
    ViewBag.Title = "Masa Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Masa Güncelle</h2>
<br />

@using (Html.BeginForm("Update", "Table", FormMethod.Post))
{
    @Html.HiddenFor(m => m.TableId)

    <div class="form-group">
        <label>Masa Numarası</label>
        @Html.TextBoxFor(m => m.TableNumber, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.TableNumber, "", new { @class = "text-danger" })
    </div> 
    <br />

    <div class="form-group">
        <label>Durum (İşaretli = DOLU)</label>
        <br />
        @Html.CheckBoxFor(m => m.IsOccupied)
        <span>Masa Dolu Mu?</span>
    </div>
    <br />

    <div class="form-group">
        <button class="btn btn-success">Değişiklikleri Kaydet</button>

        <a href="/Table/Index" class="btn btn-danger" style="margin-left: 10px;">
            İptal
        </a>
    </div>
}
